<!DOCTYPE html> 
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="My tribute page project in FFC Responsive Web Design course.">
    <meta name="author" content="Melon Mistral">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Melon's Tribute Page</title>

    <link rel="stylesheet" href="../static/styles-index.css">
</head>

<body>

    <header>Think Melon is pretty cool and wanna be friends? Click <a href=form.html>here</a> to fill out a friend application form!</header>

    <main id="main">
        <div id="title">
            <h1>Melon Mistral, the Legend herself</h1>
        </div>

        <div id="img-div">
            <img id="image" src="../img/melon-title-img.jpeg" alt="A cute profile picture of Melon">
            <figcaption id="image-caption">Melon has finally morphed into the whale she always wanted to be.</figcaption>
        </div>

        <div id="tribute-info">
            <h2>Here is a quick and generic introduction to Melon and her friends in the family.</h2>
            <p style="max-width: 1000px;">Melon, (Cucumis melo), trailing vine in the gourd family (Cucurbitaceae), grown for its often musky-scented edible fruit. 
                The melon plant is native to central Asia, and its many cultivated varieties are widely grown in warm regions around the world. 
                Most commercially important melons are sweet and eaten fresh, though some varieties can be made into preserves or pickled.</p>
            <p style="max-width: 1000px;">Melons are frost-tender annuals with soft hairy trailing stems and clasping tendrils. 
                They bear large round to lobed leaves and yellow unisexual flowers about 2.5 cm (1 inch) across. 
                Botanically, the fruits are a type of berry known as a pepo, and they vary greatly in size, shape, surface texture, and flesh colour and flavour, 
                depending on the variety. They generally weigh 1–4 kg (2–9 pounds). Cantaloupes and netted melons are ripe when they give off a sweet fruity odour, 
                at which time they “slip,” or break, readily at the union of fruit and stalk. Honeydews and casabas are ripe when they turn yellow, 
                at which time they are cut from the vine. They are called the winter melons because they ripen late and mature slowly in storage for many weeks, 
                becoming softer but not noticeably sweeter. Melon plants are susceptible to a number of diseases, including downy mildew, anthracnose, 
                Fusarium wilt, and powdery mildew, though some varieties are more resistant than others.</p>
            <br>
            <br>
            <p>You can learn more about Melon and her family <a href="https://www.britannica.com/plant/melon" target="_blank">here</a>.</p>
        </div>

    </main>

</body>

</html>